:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(7, 7, 7, 0.87);
  background-color: #f4f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* ---------Header--------- */
h1 {
  color: white;
  font-size: 60px;
  line-height: 1.1;
}

.home-link {
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.Navbar {
  top: auto;
  color: #f4f0f0;
  /* margin: 22px 0px 23px 38px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 30px 100px 30px 50px;
}

.imageHome-page {
  background-image: url("src/assets/homepage.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100vh;
}

.box-login {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: end;
}

/* ----------USER-REGISTER/LOGIN-------------- */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/imageloginuser.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100vh;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 200px;
}

.medium-title {
  color: white;
  font-size: 30px;
}

.small-text {
  color: white;
  font-weight: bold;
}

.form-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 350px;
  height: 350px;
  background-color: rgb(15 13 13 / 72%);
}

.input-field {
  width: 234px;
  background: none;
  border: none;
  border-bottom: 1px solid;
}

.btn-login {
  width: 200px;
  height: 28px;
}

.inscrivez-vous {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 7px;
}

/* -----------DECORATOR-LOGIN/REGISTER------------- */

.decorator-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/imagelogindecorator.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100vh;
}
